.mt-4 {
  margin-top: 1rem
}

.flex {
  display: flex
}

.h-28 {
  height: 7rem
}

.w-28 {
  width: 7rem
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-around {
  justify-content: space-around
}

.border-2 {
  border-width: 2px
}

.border {
  border-width: 1px
}

.border-t-2 {
  border-top-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-solid {
  border-style: solid
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(127 29 29 / var(--tw-bg-opacity))
}

.bg-tertiary {
  --tw-bg-opacity: 1;
  background-color: rgb(231 229 228 / var(--tw-bg-opacity))
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.p-2 {
  padding: 0.5rem
}

.pl-8 {
  padding-left: 2rem
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity))
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(95 116 112 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}
